.container {
  max-width: 1140px;
  margin: 0 auto;
  min-width: 320px;
}
.ui-kit-wrapper {
  min-height: 100vh;
}
.ui-kit-page {
  margin-top: 34px;
}
.ui-kit-row {
  @include flex(null, space-between);
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.item {
  margin-bottom: 21px;
}
